commands:
  01_create_swap:
    command: |
      SWAP_MEGS=2048
      if [ ! -f /var/swap.1 ]; then
        /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=$SWAP_MEGS
        /sbin/mkswap /var/swap.1
        /sbin/swapon /var/swap.1
      fi
    test: "test ! -f /var/swap.1"

files:
  /etc/fstab:
    mode: "000644"
    owner: root
    group: root
    append: true
    content: |
      /var/swap.1 swap swap defaults 0 0
